@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  width: 100%; 
  height: 100%;
  overscroll-behavior: none; 
  background-color: #292929; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: light) {
  html, body {
    background-color: #f5f5f5; 
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #292929;
  }
}

#root {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
}