@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f96363;
  margin: 0;
}

@media (min-width: 576px) {
  body {
    background-color: white;
  }
}